@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

#root,
html,
body {
  height: 100%;
  width: 100%;
  background-color: #171616;
}

.container {
  @apply flex w-full h-screen max-h-none max-w-none justify-center items-center;
}

.container2 {
  @apply flex flex-col items-center w-full max-w-none h-screen max-h-none;
}

.image-gallery {
  @apply flex h-screen max-h-none max-w-none;
}

.col {
  @apply flex flex-col items-center justify-center;
}
